*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
body {
    background-color: blue;
}

h1 {
    color:grey
}

h2 {
    color: white;
    margin-top: 50px;
}
.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    
}

#container-psw {
    padding-top: 50px;
    width: 70%;
    height: 500px;
    margin: 50px auto;
    background-color: white;
    color:black;
}

.password-text {
    font-size: 30px;
}

.password-type {
    font-size: 35px;
    font-weight: bold;
}